<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Currency and gold value graph</h1>

    <form class="form-group" th:action="@{/}" th:object="${crForm}" method="post">
        <div class="row">
            <div class="col-lg-12"><h3>Choose currency code:</h3></div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="radio"><label><input type="radio" th:field="*{currencyCode}" value="gbp">GBP</label></div>
            </div>
            <div class="col-lg-2">
                <div class="radio"><label><input type="radio" th:field="*{currencyCode}" value="eur">EUR</label></div>
            </div>
            <div class="col-lg-2">
                <div class="radio"><label><input type="radio" th:field="*{currencyCode}" value="usd">USD</label></div>
            </div>
            <div class="col-lg-2">
                <div class="radio"><label><input type="radio" th:field="*{currencyCode}" value="chf">CHF</label></div>
            </div>
            <div class="col-lg-2">
                <div class="radio"><label><input type="radio" th:field="*{currencyCode}" value="gold">GOLD</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${#fields.hasErrors('currencyCode')}" th:errors="*{currencyCode}">currencyCode error</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><h3>Choose amount of values:</h3></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><input class="form-control" type="text" th:field="*{ratesCount}"/></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${#fields.hasErrors('ratesCount')}" th:errors="*{ratesCount}">ratesCount error</div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
