<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/Chart.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Currency and gold value graph</h1>
    <div class="row">
        <h3>
        <div class="col-sm-6" th:text="'Currency name: '+${crForm.getCurrencyCode()}"></div>
        <div class="col-sm-6" th:text="'Rates number: '+${crForm.getRatesCount()}"></div>
        </h3>
    </div>

    <div class="row">
        <div class="col-sm-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Date</th>
                        <th>Rate</th>
                    </tr>
                    </thead>

                    <tr th:each="price, i : ${pricesArray}">
                        <td th:text="${i.count}"></td>
                        <td th:text="${price}"></td>
                        <td th:text="${datasArray[i.index]}"></td>
                    </tr>

                </table>
        </div>
        <div class="col-sm-9">
            <canvas id="myChart"></canvas>
            <script th:inline="javascript">
                var data = [[${pricesArray}]];
                var label = [[${datasArray}]];
                var avg = Math.round([[${avgValue}]]*1000)/1000;
                var min = Math.round([[${minValue}]]*1000)/1000;
                var max = Math.round([[${maxValue}]]*1000)/1000;

                var generateTable = function(value) {
                    var tmpdata = [];
                    for (var i = 0; i < data.length; i++) {
                        tmpdata.push({
                            x:i,
                            y: value,
                        });
                    }
                    return tmpdata;
                };

                var avgTable = generateTable(avg);
                var minTable = generateTable(min);
                var maxTable = generateTable(max);

                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: label,
                        datasets: [
                            {
                                type:'line',
                                label: 'Currency Rates',
                                data: data
                            },
                            {
                                type:'line',
                                label: 'avgValue: '+avg,
                                data: avgTable,
                                borderColor:'rgb(255, 99, 132)',
                                pointRadius:0,
                                fill:false,
                            },
                            {
                                type:'line',
                                label: 'minValue: '+min,
                                data: minTable,
                                borderColor:'rgb(54, 162, 235)',
                                pointRadius:0,
                                fill:false,
                            },
                            {
                                type:'line',
                                label: 'maxValue: '+max,
                                data: maxTable,
                                borderColor:'rgb(255, 205, 86)',
                                pointRadius:0,
                                fill:false,
                            }
                        ]
                    },
                    options:{
                        scales:{
                            xAxes:[
                                {

                                },
                                {
                                display:false,
                                }
                            ]
                        }
                    }

                });
            </script>
        </div>
    </div>
</div>

</body>
</html>

